/*************************** General *************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, input,button,
mark, audio, video      { margin: 0; padding: 0; border: 0; font-size: 1em; font-family: Tahoma, "Trebuchet MS",  Helvetica, sans-serif; vertical-align: baseline; }
header, footer, aside, 
nav, article, section   { display: block; }
body                    { font-size: 14px; line-height: 1.1; color: #444; background: #f2f2f2;  }
img                     { border: none;}
ul, li                  { list-style: none; display: block; }
p                       { margin: 0.4em 0px; text-align: left;}
table                   { border-collapse: collapse; border-spacing: 0px;}
h1, h2, h3, h4, h5, h6 	{ margin: 1em 0 0.8em 0; color: #000; line-height: 1.2em; font-weight: normal;}
h1                      { font-size: 1.5em; margin: 0em; }
h2                      { font-size: 1.3em; }
h3                      { font-size: 1.2em; }
a                       { cursor: pointer; color: #128bbd; text-decoration: underline;
    &:hover             { text-decoration: none; color: darken(#128bbd, 10%); }
}
@import url("base_styles.less");

/*************************** Base styles *************************/

/* INPUTS */
.input                  { .input_style; padding: 0.5em; vertical-align: middle; line-height: 1em; 
     &:focus            { .input_focus; }
     &[readonly]        { cursor: default; background: none; border-color: #ddd; box-shadow: none; }
     &[disabled]        { cursor: default; color: #aaa; background: #f5f5f5; border-color: #e2e6e7; box-shadow: none; }
     &:invalid          { border-color: #9e0b0f; box-shadow: 0 0 2px lighten(#9e0b0f, 10%); }
}
input[type="text"], input[type="password"], input[type="phone"], 
input[type="date"], input[type="number"], input[type="email"], 
input[type="file"],
textarea, select        { .input; }

.input_multy            { display: none;
    + label             { cursor: pointer; }
    + label:before      { content: ""; display: inline-block; height: 1.3em; width: 1.3em; margin: 0 0.5em 0 0; vertical-align: middle; border: 0.2em solid lighten(@color-gray, 5%); background: #fff; }
    &:checked + label:before { border-color: @color-blue; background-image: @check-radio; background-position: 0.2em 0.15em;  background-repeat:  no-repeat; background-size: 1em 6.2em;  }
    :disabled + label::before { border-color: lighten(@color-gray, 5%); }
    &:checked:disabled + label:before { background-position: 0.2em -1.25em; }  
}
input[type="checkbox"]  { .input_multy; }
input[type="radio"]     { .input_multy; 
    + label:before      { border-radius: 0.8em; }
    &:checked + label:before { background-position: 0.23em -2.55em; }
    &:checked:disabled + label:before { background-position: 0.23em -3.85em; }
}
.hasDatepicker                          { width: 6.6em; }

/* SELECT 2 */
.select2-container                      { margin-bottom: 0.5em; min-width: 11em; 
    .select2-choice                     { .input; display: block; height: 1.3em; border-radius: 0em;
        .select2-arrow                  { background: none; border: none; 
            b                           { .arrow_down(0, 0.9em, 0.5em, @color-gray ); width: auto; height: auto; background: none; }
        }
        .select2-search-choice-close    { top: 30%; }
    }
}
.select2-drop-active, 
.select2-dropdown-open .select2-choice   { .input_focus;
    .select2-results                     {
        .select2-highlighted             { background: @color-blue; }
        .select2-result-label            { padding: 0.6em 0.3em; }
    }
}
.select2-drop                            { min-width: 11em; }
.input_icon +.select2-container          { min-width: 9em; }

/* BUTTONS */   
input[type="button"], input[type="submit"], button  { .button; height: 2.55em; padding-top: 0.6em; }
input[type="submit"]                    { .button_icon; }


/* ACTIONS */
.list_actions a                         { .link_icon;  }
.object_actions a                       { .link_icon_mini; margin-bottom: 0.2em; }


/*FORM*/
.form_admin                             { padding: 1em 0;
    .form_row                           { margin-bottom: 1.5em;
        label                           { display: inline-block; width: 20%; padding-right: 1em; text-align: right; vertical-align: top;
            &.required:after            { content: ' *'; color: #9e0b0f; }
        }
        .field_content                  { display: inline-block;
            .select2-container          { margin-right: 1em; margin-bottom: 0em; }
            br                          { display: none; }
            .collection li              { display: inline-block;
                label                   { width: auto; }
            }
            .errors                     { padding: 0em; padding-bottom: 0.5em; margin: 0; background: none; }
        }
    } 
    legend                              { .border_box; width: 100%; margin-bottom: 1em; padding: 0.5em; background: fadeout(@color-gray, 60%); color: #000; }
    #files                              { 
        .template-download              { padding: 1em; padding-left: 0;
            td                          { display: inline-block; width: 8em; padding: 1em; padding-left: 0em; vertical-align: middle; 
                img                     { width: 8em; }
            }
        }
        button                          { .button_icon; }
    }
    .form-actions                       { padding: 1em; background: fadeout(@color-gray, 60%); 
       a                                { .button_icon; }
    }
    .errors                             { padding: 0.5em 1em; margin-top: -1.5em; margin-bottom: 1em; background: #ffcfcf; color: #9e0b0f; }
    
    /*TABS*/
    .form_tabs                          { overflow: auto; width: 100%; margin-top: -1.5em; background: @color-gray; white-space: nowrap;
        li                              { display: inline-block;
            a                           { display: inline-block; padding: 1em; background: @color-blue; color: #fff; text-decoration: none;}
            &:hover a, &.active a       { background: #f2f2f2; color: #000; }
        }
    }
    .tab-content                        { background: #f2f2f2;
        legend                          { background: none; font-size: 1.2em;  }
    }
}

/*************************** HEADER *************************/

.header                                 { overflow: hidden; background-color: @color-dark;
    .logo                               { display: inline-block; padding: 0.3em 0.5em; font-size: 1.5em; color: #fff; text-decoration: none;
        &:hover                         { color: #fff; }
    }                                      
    /*HEADER MENU*/
    .menu_mobile                        { display: none; float: right;
        a                               { .icon (-0.3em, 0.2em, @icon-white); display: inline-block; width: 2.8em; height: 2.8em;  
            &:hover                     { background-color: lighten(@color-dark, 4%); }
            &.active                    { background-color: lighten(@color-dark, 5%); }
        }
    }
    .menu_drop                          { position: relative; z-index: 900; 
        &.has_submenu                   { height: 6.4em; }
        &.has_submenu_level2            { height: 9.55em; }
        li                              { .menu; display: inline-block; border: none;
            ul                          { display: none; .absolute_left (3.1em, 0); width: 100%; padding: 0.1em 0em; 
                li                      { background: none;
                    ul                  { display: none; .absolute_left (3.2em, 0); }
                    &.active            { background: lighten(desaturate(@color-blue, 5%), 5%);
                        ul              { display: block; background: lighten(desaturate(@color-blue, 5%), 5%); }
                    }
                }
            }
            &.active ul.menu_level_1    { display: block; background: @color-blue; z-index: 1000; }
            // зеленая точечка
            &.current:not(.active)      { position: relative;
                &:before                { .absolute_left (1.35em, 0.2em); content: ''; width: 0.5em; height: 0.5em; border-radius: 50%; background-color: @color-green; }
            }
        }  
    }
    
}

/*CONTENT*/
.content                                    { position: relative;
    header                                  { padding: 0.5em 1em; margin-bottom: 0.5em; background-color: @color-gray; }
    .admin_list                             { 
        .list                               { margin-right: 0em; padding: 0 1em; }
    }
}

/*PAGINATION*/
.pagination                                 { 
    li                                      { display: inline-block; margin-right: 0.5em;
        &.active a, &:hover a               { background-color: @color-dark; }
        a                                   { display: inline-block; width: 4.2em; padding: 0.75em 0; color: #fff; background-color: @color-blue; border-radius: 1.6em; text-align: center; text-decoration: none; font-size: 1.2em;
            &.number                        { width: 2.6em; }
            span                            { display: block; background-repeat: no-repeat; background-size: 1.1em 1.2em;
                &.prev                      { background-image: url(../images/arrow_prev.svg); background-position: 1.4em 0em; }
                &.next                      { background-image: url(../images/arrow_next.svg); background-position: 1.7em 0em; }
            }
        }
    }
}   

/*LIST*/
.list_header                                { margin-bottom: 0.5em; position: relative; }
.list_table                                 { margin-bottom: 1em; }

/*LIST_BAR*/
.list_bar                                   { display: inline-block; 
    &.visible                               { display: none; .absolute_right (0, 0); min-width: 15em; padding: 0.5em; background: #cbe6f2; box-shadow: -0.3em 0.3em 0.6em #6A6A6A; }
}

/*(@color-arrow: #555, @color-hover: #555) */
.drop_list_style (@color-arrow: @color-gray, @color-hover: @color-blue)   { position: relative; display: inline-block;
    .selected                               { .input_style; display: block; padding: 0.5em 1.7em 0.5em 0.7em; text-decoration: none;
        &:after                             { .absolute_right(0.9em, 0.3em); .arrow_down(0, 0, 0.4em, @color-arrow); content: ''; }
    }
    ul                                      { .absolute_right(2.5em, 0); .input_style; .border_box; display: none; min-width: 100%; padding: 0.3em; z-index: 2; 
        a                                   { display: block; padding: 0.3em; text-decoration: none; 
            &:hover                         { background: @color-hover; color: #fff; }
        }
    }
    &:hover                                 {
        ul                                  { .input_focus; display: block; }
        .selected                           { .input_focus; }
    }
}
.drop_list                                  { .drop_list_style; }
.list_perpage                               { .absolute_right;
    label                                   { margin-right: 0.5em; }
    .drop_list                              {
        .selected                           { /*width: 2.3em;*/ font-size: 1.3em; }
        a                                   { font-size: 1.3em; }
        ul                                      { /*width: 3.5em;*/  text-align: center; }
    }
    
}

/*LIST_FOOTER*/
.list_footer                                { position: relative; text-align: center; margin-bottom: 3em;
    .list_perpage ul                        { .absolute_right (auto, 0); bottom: 2.5em; }
}

/* Filters */
.toggle_filter                              { .absolute_right (3.8em, 0); padding: 0.5em; z-index: 1000; 
    i                                       { display:inline-block; border: 0.7em solid transparent; border-left: 0.7em solid #fff; }
    &.active                                { .link_icon; .absolute_right (2.8em, 0em); padding-right: 1em;  
        i                                   { background-position: -0.2em -18.4em; margin-right: 0em; border: none; }
    }
}
.toggle_filter:hover + .list_filters legend { background: @color-dark; }
.list_filters                               { display: block; float: right; width: 17em; margin-bottom: 3em; padding-bottom: 1em; background: #CBE6F2;
    legend                                  { .border_box; width: 100%; padding: 0.75em 1em; background: @color-blue; font-size: 1.2em; color: #fff; }
    fieldset                                { padding: 0.5em 0.5em 0 1em; }
    .field_content                          { width: 100%; }
    .actions                                { text-align: center; }
    &.visible_pc                            { display: none !important; }
    &.visible_pc + .list                    { margin-right: 0em !important; }
    &.visible_pc + .list .list_perpage      { margin-right: 4em; }
    .form_row                               { margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid fadeout(#fff, 60%); 
         label                              { display: inline-block; width: 100%; padding-bottom: 0.5em; }
    }
    .field_from, .field_to                  { margin-bottom: 0em; border: none; }
    input[type="text"], input[type="password"], input[type="phone"], 
    input[type="date"], input[type="number"], input[type="email"], 
    input[type="file"], textarea, select    { .border_box; width: 100% !important; }
} 
.list_filters + .list                       { margin-right: 17em !important; }

/*CUSTOM FILTERS*/
.custom_filters                             {
    #form                                   { padding: 0.5em; padding-left: 1em;  }
}

/*FLASHES*/
.notification_box                           { padding: 0.5em 1em; background: #fff799; color: #996600;
    &.success                               { background: #c4df9b; color: #496026; }
    &.error                                 { background: #ffcfcf; color: #9e0b0f; }
}

/*LOGIN*/
.home_page, .home_page .header              { background: lighten(@color-dark, 5%); 
    #_submit                                { padding-left: 0.7em !important; background-image: none; }
    label                                   { display: none; }
}
.login_content                              { width: 16em; margin: 13% auto 0; padding: 2.5em; background: #fff; border: 1px solid @color-gray;
    .form_row .field_content                { margin: 1em 0; } 
    input                                   { .border_box; width: 100%; }
    .notification_box                       { margin-bottom: 0.5em; }
}

/*ADMIN_SHOW*/
.admin_show                             {
    .show_block                         {
        legend                          { padding-left: 1em; margin-bottom: 0.5em; }
        td                              { width: 30em; padding: 0.5em; padding-left: 1em; 
            &.title                     { text-align: right; }
        }
    }  
    .form-actions a                     { .button; }
}

/*send_mail_form*/
.send_mail_form                         { padding: 1em;
    .form_block                         { margin-bottom: 1em; }
    .button:hover                       { color: #fff; }
}

/*POPUP IN TABLE*/
.popup .popup_content  span             { display: none; }

/*************************** MENU_SETTINGS for desktop *************************/

@media handheld, only screen and (min-width: 1024px) {
.header                                 { 
    .menu_settings                      { .absolute_right; z-index: 1000 !important;
        li                              { display: inline-block; background: none !important;
            .link                       { display: none; }
            .drop_list                  { .drop_list_style(#fff, @color-dark); padding: 0em;
                a                       { color: #fff; }
                ul                      { top: 2.1em; background: lighten(@color-dark, 10%); -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; border: none; box-shadow: none;
                    li                  { display: block; }
                }
                .selected               { background: lighten(@color-dark, 10%); border: none; box-shadow: none; color: #fff; }
            }
        }
    }
}
/*FILTERS*/
.visible_pc                            { display: none !important; }
.visible_pc + .list                    { margin-right: 0em !important; }
.visible_pc + .list .list_perpage      { margin-right: 4em; }

/*FORM*/
.form_admin                            {
    legend                             { padding-left: 21%; }  
}
}

/*************************** MENU_SETTINGS for MOBILE *************************/
@media handheld, only screen and (max-width: 1024px) {
    body                                    { font-size: 18px; }
    .content                                {
         header                             { margin-bottom: 0em;  }
         .admin_list .list                  { position: inherit; padding: 0; }
    }
    
    /*MENU*/
    .header                                 { height: 2.8em; 
       .menu_mobile                         { display: block; }
       
       .menu_drop                           { display: none; min-width: 15em; .absolute_right(2.8em, 0); box-shadow: -0.3em 0.3em 0.6em #6A6A6A;
            &.has_submenu                   { height: auto; }
            &.has_submenu_level2            { height: auto; }
            li                              { position: relative; display: block; white-space: nowrap; border-top: 1px solid fadeout(#fff, 90%); 
                a, .link, span              { padding: 1em; padding-right: 1.5em; }
                ul                          { position: static !important; top: 0; padding: 0em; background: lighten(desaturate(@color-blue, 5%), 5%) !important;
                    ul li                   { margin-left: 2em; }
                }
                // стрелочки
                span:first-child:nth-last-child(2):after { content: ''; .absolute_right (1.2em, 0.2em); border: 0.4em solid transparent; border-left: 0.4em solid fadeout(#fff, 80%);  }
                &.active > span:first-child:nth-last-child(2):after { .absolute_right (1.5em, 0.5em); border: 0.4em solid transparent; border-top: 0.4em solid #fff; }
            }
            // убираем бордери у пунктов меню
            & > ul > li:first-child         { border: none; }
            & > ul > li.active + li         { border: none; }
        }
        .menu_settings                      { .menu_drop; 
            .link                           { display: block; }                                  
            .selected                       { display: none; }
            ul li .drop_list                { padding: 0 !important; text-decoration: none;
                ul                          { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; border: none; 
                    a:hover                 { background: none; }
                }
                &:hover ul                  { border: none; box-shadow: none; }
            }
        }
    }

    /*FILTERS*/
    .toggle_filter, .toggle_filter.active   { display: none; }
    .list_filters                           { .absolute_right (0, 0); display: none; margin-top: 0em; background: #cbe6f2; box-shadow: -0.3em 0.3em 0.6em #6A6A6A; z-index: 2;
        &.visible                           { display: block !important; }
    }
    .list_filters + .list                   { margin-right: 0em !important; }
    .list_filters.visible + .list .list_perpage { margin: 0 auto; }
    
    
    /*LIST_BAR*/
    .list_bar                               { display: none;
        &.visible                           { display: block; }
    } 
    /*PERPAGE*/
    .list_header                            { position: inherit;
        .list_perpage                       { display: none; }
    }
    .list_footer                            { position: inherit;
        .pagination                         { margin-bottom: 0.5em; }
        .list_perpage                       { width: 16em; margin: 0 auto; position: relative; 
            .selected                       { position: relative; }
        }
    }
    /*TABS*/
    .form_admin                             {
        .form_tabs                          { margin-top: -1em; }    
    }
    /*POPUP IN TABLE*/
    .popup .popup_content  span             { display: none; }
}


/******************/
@media handheld, only screen and (min-width: 480px) and (max-width: 860px) {
    body                                    { font-size: 18px; }
}
/*************************** MENU_SETTINGS for MOBILE mini *************************/
@media handheld, only screen and (max-width: 480px) {
    body                                    { font-size: 14px; 
        &.home_page                         { font-size: 18px; }
    }
    /*MENU*/
    .header                                 { min-height: 2.8em; height: auto;
       .menu_drop                           { position: static !important; margin-top: 0.2em; }
    } 
    /*FILTERS*/
    .list_filters.visible                   { position: static !important; float: none; width: 100%; box-shadow: none; }
    /*LIST_BAR*/
    .list_bar.visible                       { position: static !important; box-shadow: none; }
    
    /*INPUT-SELECT*/
    .field_content                          { width: 100%; }
    input[type="text"], input[type="password"], input[type="phone"], 
    input[type="date"], input[type="number"], input[type="email"], 
    input[type="file"],
    textarea, select        { .border_box; width: 100% !important; }
    .select2-container      { width: 100% !important; }
    
    /*FORM*/
    .form_admin                             { 
        .form_row                           { padding: 0 0.5em; margin-bottom: 1em;
            label                           { width: auto; margin-bottom: 0.5em; }
            .field_content .select2-container { margin-right: 0; margin-bottom: 0.5em; }
        } 
        #files .template-download .name     { width: auto; }
        .form-actions                       { 
           input, a                         { margin: 0.5em; margin-left: 0em; }
        }
    }
    /*LOGIN*/
    .login_content                          { padding: 0em; background: none; border: none;
        .form_row                           {
            label                           { color: #fff; }
            .field_content                  { margin: 1em 0; }
        } 
    }
}

@media handheld, only screen and (max-width: 314px) {
    /*MENU*/
    .header                                 { 
       .menu_drop                           { margin-top: 2.8em; }
    }   
}
